apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
bootstrapTokens:
- token: "{{ token }}"
  description: "default kubeadm bootstrap token"
  ttl: "24h"
localAPIEndpoint:
  advertiseAddress: {{ master1 }}
bindPort: 6443
---
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version }}
controlPlaneEndpoint: "{{ kubernetes_api }}:6443"
networking:
  podSubnet: {{ pod_network_cidr }}
  serviceSubnet: {{ service_cidr }}
  dnsDomain: {{ kubernetes_dns }}
apiServer:
  certSANs:
  - {{ kubernetes_api }}
